doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title "Plantilla con Pug"
    body
        form(action='/productos', method='POST')
            input(type='text', name='title', placeholder='Titulo')
            input(type='number', name='price', placeholder='Precio')
            input(type='text', name='thumbnail', placeholder='DireccionURL')
            button(type='submit') Agregar Producto 
        a(class='button', href='/productos') Mostrar historial de productos
        h2(style={color:'#5f9ea0', width:'20px'}) Historial de productos cargados
        if productos
            table(class='table')
                tr 
                    th Nombre de Producto 
                    th Precio de Producto 
                    th Direccion URL imagen del Producto 
                each producto in productos.length ? productos :[]
                    tr
                        td=producto.title 
                        td=producto.price 
                        td=producto.thumbnail 
        else 
            h3(style={color:'crimson', background :'black'}) No se registran productos ingresados
